html {
  box-sizing: border-box;
  font-family: Geometria, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.inner {
  height: 100vh;
}

.container {
  display: grid;
  background-color: #fbf5f4;
  height: 100vh;
  grid-template-columns: 15% 35% 35% 15%;

  padding: 3%;
}

.menu {
  grid-area: menu;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: normal;
  }

  &__burger {
    margin-right: 15px;

    div {
      width: 20px;
      height: 2px;
      background-color: $orange;
      margin-left: 4px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #000;
        left: -4px;
      }
    }

    div:last-child {
      width: 14px;
    }

    div+div {
      margin-top: 5px;
    }
  }

  &__text {
    a {
      font-size: 18px;
      font-weight: 400;
      @include link(#000);
    }
  }


}

.menu__links {
  position: absolute;
  left: 94px;
  top: 90px;
  z-index: 2;
  transition-property: opacity, transform, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden;

  li+li {
    margin-top: 20px;
  }

  .active a {
    opacity: 1;
  }

  a {
    @include link(#000);
    opacity: 0.5;
    font-size: 16px;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }

  &.showMenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
  }
}


.onanimation {
  .menu__links {
    display: none;
  }
}

.section-title {
  grid-area: section-title;

  &__inner {
    margin-left: 15px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $orange;
      left: -15px;
      top: calc(50% - 3px);
      border-radius: 50%;
    }
  }
}

.phone {
  grid-area: phone;
  text-align: right;

  a {
    @include link(#000);
    font-family: Montserrat;
  }
}

.lotos-logo {
  grid-area: lotos-logo;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.girl {
  grid-area: girl;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.central-text {
  grid-area: text;

  &__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: calc(50% - 30px);
    @include gradient(270);
    border: none;
    cursor: pointer;
  }

  &__button {
    border: none;
    width: 284px;
    height: 60px;
    box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.1);
    border-radius: 29px;
    background-color: $orange;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
      box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.30);
    }
  }

  .tab-item {
    display: none;
  }

  .tab-item--active {
    display: block;
  }
}

.number-page {
  grid-area: number-page;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  &__this {
    font-size: 72px;
    font-weight: 300;
    margin-right: -5px;
    @include gradient(270);
    @include gradient-text;
  }

  &__all {
    color: $orange;
    font-size: 30px;
    font-weight: 300;
    @include gradient(270);
    @include gradient-text;
  }
}

.social {
  grid-area: social;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;


  li {
    display: inline-block;

    &+li {
      margin-left: 20px;
    }
  }

  a {
    @include link(#000);
    font-family: Montserrat;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
      color: $pink;
    }
  }
}

.next-page {
  grid-area: next-page;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;


  &__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 40px;
    @include link(#000);

    &:hover {
      .next-page__button {
        background-size: 0;
        background-color: transparent;

        &::after {
          opacity: 1;
        }
      }

      polygon {
        fill: $pink;
      }
    }
  }

  &__button {
    padding: 0;
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: -3px;
    right: 0;
    @include gradient(180);
    background-color: $orange;
    cursor: pointer;
    transition-property: background-size, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 2;
      background-color: #fff;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease;
    }

    svg {
      position: absolute;
      left: calc(50% - 3px);
      top: calc(50% - 2px);
      transform: rotate(180deg);
      z-index: 3;
    }
  }
}

.tabs {
  position: absolute;
  right: -160px;
  top: 0;

  li {
    position: relative;
  }

  li+li {
    margin-top: 20px;
  }

  .tab {
    a {
      @include link(#000);
      opacity: 0.5;
    }
  }


  .tab--active {
    a {
      opacity: 1;
    }

    &::before {
      position: absolute;
      color: $orange;
      font-family: Geometria;
      font-size: 18px;
      font-weight: 500;
      left: -70px;
      top: calc(50% - 11px);
      opacity: 1;
    }
  }
}


.show {
  .menu__links {
    display: block;
  }
}

.slider__indicators {
  display: none;
}


.popup {
  &__close {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    transform: rotate(45deg);
    @include gradient(45);
    @include plus(10px, 2px, #fff);
    @include center(10px, 2px);
    cursor: pointer;
  }
}

.popup-one {
  position: absolute;
  z-index: 9000;
  transform: translate(0, -400px);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #fbf5f4;
  align-items: center;
  justify-content: center;
  top: -400px;
  left: calc(50% - 200px);
  border: 1px solid $orange;
  display: flex;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;


    input {
      background-color: transparent;
      border: none;
      padding: 10px 0;
      border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
      transition-property: border-bottom;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      margin-bottom: 20px;

      &[type="email"] {
        margin-bottom: 40px;
      }

      &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }



  &__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: calc(50% - 30px);
    @include gradient(270);
    border: none;
    cursor: pointer;
  }

  &__button {
    border: none;
    width: 284px;
    height: 60px;
    box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.1);
    border-radius: 29px;
    background-color: $orange;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
      box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.30);
    }
  }


  &.active-popup {
    transform: translate(0, 600px);
  }
}

.popup-two {
  position: absolute;
  z-index: 9000;
  transform: translate(0, -400px);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  width: 400px;
  height: 150px;
  border-radius: 20px;
  background-color: #fbf5f4;
  align-items: center;
  justify-content: center;
  top: -400px;
  left: calc(50% - 200px);
  border: 1px solid $orange;
  flex-direction: column;
  text-align: center;
  display: flex;

  &__title {
    font-size: 72px;
    @include gradient(90);
    @include gradient-text;
  }

  &__subtitle {
    line-height: 35px;
  }

  &.active-popup {
    transform: translate(0, 700px);
  }
}

.popup-three {
  position: absolute;
  z-index: 9000;
  transform: translate(0, -400px);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background-color: #fbf5f4;
  align-items: center;
  justify-content: center;
  top: -400px;
  left: calc(50% - 250px);
  border: 1px solid $orange;
  flex-direction: column;
  text-align: center;
  display: flex;


  &__title {
    font-family: Geometria-ExtraLight;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      background-color: transparent;
      border: none;
      padding: 10px 0;
      border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
      transition-property: border-bottom;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      margin-bottom: 20px;

      &[type="email"] {
        margin-bottom: 40px;
      }

      &:hover {
        border-bottom: 1px solid #000;
      }
    }

    textarea {
      margin-bottom: 20px;
      background-color: transparent;
      border: 1px solid rgba($color: #000000, $alpha: .2);
    }
  }

  &__button {
    border: none;
    width: 284px;
    height: 60px;
    box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.1);
    border-radius: 29px;
    background-color: $orange;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    margin: 0 auto;

    &:hover {
      box-shadow: 11px 11px 50px rgba(0, 0, 0, 0.30);
    }
  }

  &.active-popup {
    transform: translate(0, 540px);

  }
}


textarea {
  resize: none;
}