.classes-section {
	.central-text {
		&__title {
			color: $orange;
			font-size: 48px;
			margin-bottom: 10px;
			@include gradient(180);
			@include gradient-text;
		}

		&__subtitle {
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 50px;
		}

		&__text {
			font-family: Geometria-ExtraLight;
			max-width: 500px;
			font-weight: 600;
			line-height: 35px;

			&--last {
				margin-bottom: 40px;
			}
		}

		&__circle {
			@include plus(2px, 16px, #fff);
			@include center(2px, 16px);
		}
	}
}


.tab--active.sort__tab::before {
	content: 'Yoga —';
}